@font-face{
    font-family: for_form;
    src: url('../fonts/corbel.ttf');
    font-style: oblique;
}
*{
    margin: 0;
    border: 0;
}

[class*="col-"]{
    box-sizing: border-box;
    float:right;

}

.row::after{
    content: "";
    clear:both;
    display: table;
}


[class*="col-"]{
    width:100%;
}



.block{
    border:3px solid green;
    height: 300px;
    width:200px;
}





@media (min-width:600px){
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}    
}

@media (min-width:768px){
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
}

@media (min-width:992px){
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
}

@media (min-width:1200px){
    .col-xlg-1 {width: 8.33%;}
    .col-xlg-2 {width: 16.66%;}
    .col-xlg-3 {width: 25%;}
    .col-xlg-4 {width: 33.33%;}
    .col-xlg-5 {width: 41.66%;}
    .col-xlg-6 {width: 50%;}
    .col-xlg-7 {width: 58.33%;}
    .col-xlg-8 {width: 66.66%;}
    .col-xlg-9 {width: 75%;}
    .col-xlg-10 {width: 83.33%;}
    .col-xlg-11 {width: 91.66%;}
    .col-xlg-12 {width: 100%;}
}


.he{ 
    height: 100vh;
    max-height: 100vh;
    position: relative;
   
    
    background-image: url('../images/we8.png');
    background-repeat: no-repeat;
    
    background-position-x: right;
    background-position-y: 50px;
     
}
.second-lyer{
    position:absolute;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: .8;
}

ul{
    list-style-type: none;
    margin-top:10px;
    margin-bottom: 10px;
    position: absolute;
    z-index: 1;
}

li{
    display : inline;
    padding: 15px;

    
}
li a{
    
    border-radius: 3px;
    border-color: #ccc;
    text-decoration:none;
    color:#fff
}

.social ul{
    margin-top: 55vh;
}
.social li{
   
    display :block
}

.head-text{
    
  position: absolute;
    color: #fff;

    font-size:15px;
    top:45vh;
    
}
h1,h3{
    text-align: center;
}

.text{
    height: 30vh;
    max-height: 30vh;
    position: relative;
    text-align: center;
    font-size:15px;
    padding: 5vh;
    
}
.text1{
    height: 30vh;
    max-height: 30vh;
    position: relative;
    text-align: center;
    font-size:15px;
    padding: 6vh;
    background-color: rgb(212, 221, 221);
}

.maincon{ position: sticky;  background-color: blueviolet;}
      
      .card1{position: relative; width: 362;height: 300;transform-style:preserve-3d ;transition: all 1s ease; background-color:rgb(217, 223, 211);; float: right;}
      .card2{position: relative; width: 362;height: 300;transform-style:preserve-3d ;transition: all 1s ease;  background-color:rgb(118, 128, 138); float: right;}
      .card3{position: relative; width: 362;height: 300;transform-style:preserve-3d ;transition: all 1s ease; background-color:rgb(240, 216, 197); float: right;}
      .card4{position: relative; width: 362;height: 300;transform-style:preserve-3d ;transition: all 1s ease;  background-color: rgb(231, 73, 62); float: right;}
      .card5{position: relative; width: 362;height: 300;transform-style:preserve-3d ;transition: all 1s ease; background-color: rgb(79, 189, 125); float: right;}
      .card6{position: relative; width: 362;height: 300;transform-style:preserve-3d ;transition: all 1s ease; background-color: rgb(51, 64, 70); float: right;}
      .card7{position: relative; width: 362;height: 300;transform-style:preserve-3d ;transition: all 1s ease; background-color:rgb(236, 189, 132); float: right;}
      .card8{position: relative; width: 362;height: 300;transform-style:preserve-3d ;transition: all 1s ease; background-color:rgb(103, 187, 226); float: right;}
      .card1:hover {transform: rotateY(180deg);}      .card2:hover {transform: rotateY(180deg);}      .card3:hover {transform: rotateY(180deg);}
      .card4:hover {transform: rotateY(180deg);}      .card5:hover {transform: rotateY(180deg);}      .card6:hover {transform: rotateY(180deg);}
      .card7:hover {transform: rotateY(180deg);}      .card8:hover {transform: rotateY(180deg);}




      .front{position: absolute; width: 100px; height: 100px;backface-visibility: hidden; padding: 70px 100px;    }

      .back{position: absolute; width: 100px; height: 100px;backface-visibility: hidden;  ;color: hotpink; transform: rotateY(180deg);}


button{
    background-color:seagreen ;
    font-size: 30px;
    color: white;
    font-style: normal;
    width: 30vh;
   
}

.form{
    font-family: for_form;
   background-color: rgb(216, 221, 221);
   direction: ltr;
   display: block;
   position: relative;
   padding: 10vh;
   
}
.cont{
    
    background-color: rgb(215, 223, 223);
    margin: 5px;
}
.right{
    float: right;

}
.left{
    float: left;
}
input{
    border: 1px solid rgb(182, 177, 177);
    margin-top: 5px;
    
}
input[type="text"]{
    width: 90%;
    height: 40px;  
}
input[type="email"]{
    width: 95%;
    height: 40px;  
}
Textarea{
    width: 95%;
    height: 90px;   
    padding: 2px;
    margin-top: 5px;
}
Textarea:focus{
    box-shadow: -7px -4px 15px 5px darkturquoise;
  

}
input[type="submit"]{
    background: rgb(44, 134, 236);
      color: white;  
      width: 20vh; 
      height:5vh ;

}
input:focus{
    box-shadow: -7px -4px 15px 5px darkturquoise;


}